.frame-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    max-width: 650px;
    margin: 0 auto;
    flex-wrap: wrap;
}

#frame1,#frame2,#frame3{
    width: 300px;
}

/* #frame2{
    display: none;
} */